<app-banner-simple
  text="We are going live soon!"
  #bannerSimple
  primaryAction="Ok"
  secondaryAction="Close"
></app-banner-simple>
<app-banner-advanced
  text="We are going live soon!"
  #bannerAdvanced
  primaryAction="Ok"
  secondaryAction="Close"
></app-banner-advanced>
<button (click)="bannerSimple.open()" id="simple-trigger">Show simple banner</button>
<button
  style="margin-top: 1rem"
  (click)="bannerAdvanced.open('#advanced-trigger')"
  id="advanced-trigger"
>
  Show advanced banner
</button>
